<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/.assets/favicon.ico" rel="icon" type="image/ico">
    <link href="/.assets/css/bootstrap.css" rel="stylesheet">
    <link href="/.assets/css/markshow.css" rel="stylesheet">
    <script type="text/javascript">
      var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-35936407-1']); _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
  <div class="container">
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">MarkShow</a>
            <div class="navbar-content">
              <ul class="nav">
                <li <%= (url.split('/Usage')[0]=='') ? 'class="active"' : '' %>>
                  <a href="/Usage">How to use</a> 
                </li>
                <li <%= (url.split('/Examples')[0]=='') ? 'class="active"' : '' %>>
                  <a href="/Examples">Examples</a> 
                </li>
                <li <%= (url.split('/Contributing')[0]=='') ? 'class="active"' : '' %>>
                  <a href="/Contributing">Contribute</a> 
                </li>
              </ul>
              <ul class="nav pull-right">
                <li>
                  <a href="https://github.com/ericvicenti/markshow">Read the code on GitHub!</a> 
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <div>
            <ul class="nav nav-list well">
              <% _.each(links, function(link){ %>
                <% if(link.name=='') return; %>
                <% if(link.bold){ link.name = '<b>'+link.name+'</b>'; } %>
                <li<%= link.active ? ' class="active"' : '' %>><a href="<%=link.url%>"><%=link.name%></a></li>
              <% }); %>
            </ul>
          </div>
        </div>
        <div class="span8">
          <%=body%>
        </div>
      </div>
      <hr style="margin-top:50px;">
    </div>
  </div>
  <div></div>
  <div style="text-align: center; color: grey; margin-bottom: 50px; font-size: 12px;">Copyright &copy; 2012 XYZ</div>
  </body>
</html>